<nav class="border--zinc bg--primary text--primary border-b">
  <div class="mx-auto flex h-14 flex-wrap items-center px-4">
    <button
      *ngIf="sidebarVisible; else showCloseButton"
      (click)="toggleSidebar()"
      aria-label="Open sidebar">
      <i
        class="fa-solid fa-arrow-right-from-bracket fa-rotate-180 text--hover-highlight text-lg"></i>
    </button>
    <ng-template #showCloseButton>
      <button aria-label="Close sidebar" (click)="toggleSidebar()">
        <i
          class="fa-solid fa-arrow-right-from-bracket text--hover-highlight text-lg"></i>
      </button>
    </ng-template>

    <app-breadcrumb></app-breadcrumb>
  </div>
</nav>
