<div class="relative group">

  <div *ngIf="showIcon" class="absolute flex items-center pl-3 cursor-pointer end-2 inset-y-0 ">
    <ng-content></ng-content>
  </div>

  <input #inputField
    class="bg-white border border--zinc text--contrast-light rounded-md block w-full p-2.5 placeholder-zinc-500"
    name="{{id}}" type="{{type}}" [value]="value" [placeholder]="placeholder" [autocomplete]="autocomplete"
    [disabled]="disabled" (input)="onInput(inputField.value)" [step]="type === 'number' ? step ?? '1' : null"
    [attr.list]="list ? list : null" (blur)="blurEvent.emit()" (focus)="focusEvent.emit()">
</div>