<mat-progress-bar
  *ngIf="loading"
  mode="indeterminate"
  [color]="'accent'"></mat-progress-bar>
<div class="bg--primary">
  <mat-dialog-content>
    <div class="mb-2 flex items-center justify-between">
      <app-headline-two>{{ title }}</app-headline-two>
      <app-icon-button mat-dialog-close>
        <i class="fas fa-xmark text-xl"></i>
      </app-icon-button>
    </div>

    <ng-content></ng-content>
  </mat-dialog-content>

  <mat-dialog-actions class="flex items-center justify-between">
    <app-default-button [type]="'warn'" (clickEvent)="onDelete()">{{
      warnButtonTitle
    }}</app-default-button>
    <app-default-button [type]="'primary'" (clickEvent)="onSubmit()">{{
      submitButtonTitle
    }}</app-default-button>
  </mat-dialog-actions>
</div>
