<aside id="separator-sidebar" class="z-40 w-56 h-screen overflow-x-hidden bg--primary text--primary"
  aria-label="Sidebar">
  <div class="h-full px-3 border-r border--zinc">
    <div class="flex items-center pl-2.5 h-14">
      <p class="self-center text-3xl font-bold whitespace-nowrap">
        <app-text-gradient class="smartflow">smartflow</app-text-gradient>
      </p>
    </div>
    <div>
      <ul class="space-y-2 font-medium">
        <app-sidebar-item icon="chart-simple" label="Dashboard" path="dashboard"></app-sidebar-item>
        <app-sidebar-item icon="users" label="Tenants" path="tenants"></app-sidebar-item>
        <app-sidebar-item icon="code-merge" label="Process definitions" path="process-definitions"></app-sidebar-item>
        <app-sidebar-item icon="rocket" label="Process instances" path="process-instances"></app-sidebar-item>
      </ul>
      <ul class="pt-4 mt-4 space-y-2 font-medium border-t border--zinc">
        <app-sidebar-item icon="screwdriver" label="Settings" path="settings"></app-sidebar-item>
        <app-sidebar-item icon="terminal" label="Commands" path="commands"></app-sidebar-item>
        <app-sidebar-item icon="code" label="Workers" path="workers"></app-sidebar-item>
      </ul>
      <ul class="pt-4 mt-4 space-y-2 font-medium border-t border--zinc">
        <app-sidebar-item icon="user-astronaut" label="Administration" path="admin"></app-sidebar-item>
      </ul>
    </div>
  </div>
</aside>