<aside
  id="separator-sidebar"
  class="bg--primary text--primary z-40 h-screen w-56 overflow-x-hidden"
  aria-label="Sidebar">
  <div class="border--zinc h-full border-r px-3">
    <div class="flex h-14 items-center pl-2.5">
      <p class="self-center whitespace-nowrap text-3xl font-bold">
        <span>Angular16</span>
      </p>
    </div>
    <div>
      <ul class="space-y-2 font-medium">
        <app-sidebar-item
          icon="chart-simple"
          label="Dashboard"
          path="dashboard"></app-sidebar-item>
        <app-sidebar-item
          icon="users"
          label="Tenants"
          path="tenants"></app-sidebar-item>
      </ul>
      <ul class="border--zinc mt-4 space-y-2 border-t pt-4 font-medium">
        <app-sidebar-item
          icon="screwdriver"
          label="Settings"
          path="settings"></app-sidebar-item>
        <app-sidebar-item
          icon="terminal"
          label="Commands"
          path="commands"></app-sidebar-item>
      </ul>
      <ul class="border--zinc mt-4 space-y-2 border-t pt-4 font-medium">
        <app-sidebar-item
          icon="user-astronaut"
          label="Administration"
          path="admin"></app-sidebar-item>
      </ul>
    </div>
  </div>
</aside>
