<div
  role="status"
  class="border--zinc animate-pulse divide-y divide-zinc-300 rounded-lg border shadow dark:divide-zinc-700">
  <div
    *ngFor="let i of [].constructor(numberItems)"
    class="flex items-center justify-between px-6 py-6">
    <div class="bg--contrast-light h-2.5 w-12 rounded-full"></div>
    <div class="bg--contrast-light h-2.5 w-24 rounded-full"></div>
    <div class="bg--contrast-light h-2.5 w-24 rounded-full"></div>
    <div class="bg--contrast-light h-2.5 w-12 rounded-full"></div>
  </div>
  <span class="sr-only">Loading...</span>
</div>
