<div role="status"
  class="border border--zinc divide-y divide-zinc-300 rounded-md shadow animate-pulse dark:divide-zinc-700">
  <div *ngFor="let i of [].constructor(numberItems)" class="flex items-center justify-between px-6 py-6">
    <div class="h-2.5 bg--contrast-light rounded-full w-12"></div>
    <div class="h-2.5 bg--contrast-light rounded-full w-24"></div>
    <div class="h-2.5 bg--contrast-light rounded-full w-24"></div>
    <div class="h-2.5 bg--contrast-light rounded-full w-12"></div>
  </div>
  <span class="sr-only">Loading...</span>
</div>