// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include classes for tailwind css
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import '@fortawesome/fontawesome-free/css/all.css';

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$angular-client-primary: mat.define-palette(mat.$indigo-palette);
$angular-client-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$angular-client-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$angular-client-theme: mat.define-light-theme((color: (primary: $angular-client-primary,
        accent: $angular-client-accent,
        warn: $angular-client-warn,
      )));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.

@include mat.all-component-themes($angular-client-theme);

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


.disabled {
  @apply disabled:opacity-50;
  @apply disabled:cursor-not-allowed;
}

.bg--primary {
  @apply bg-zinc-50;
  @apply dark:bg-zinc-950;
}

.bg--contrast-lightest {
  @apply bg-zinc-100;
  @apply dark:bg-zinc-900;
}

.bg--contrast-lighter {
  @apply bg-zinc-200;
  @apply dark:bg-zinc-800;
}

.bg--contrast-light {
  @apply bg-zinc-300;
  @apply dark:bg-zinc-700;
}

.border--zinc {
  @apply border-zinc-300;
  @apply dark:border-zinc-700;
}

.text--primary {
  @apply text-zinc-700;
  @apply dark:text-zinc-300;
}

.text--constrast-lightest {
  @apply text-zinc-800;
  @apply dark:text-zinc-200;
}

.text--contrast-lighter {
  @apply text-zinc-900;
  @apply dark:text-zinc-100;
}

.text--contrast-light {
  @apply text-zinc-950;
  @apply dark:text-zinc-50;
}

.text--backdrop {
  @apply text-zinc-500;
  @apply dark:text-zinc-500;
}

.text--hover-highlight {
  @apply hover:text-zinc-950;
  @apply dark:hover:text-zinc-50;
}

.bg--hover-contrast-lighter {
  @apply hover:bg-zinc-200;
  @apply dark:hover:bg-zinc-800;
}
